.nav {
    display:flex;
justify-content: center;
text-decoration: none;

height: 4rem;
text-align: center;
justify-content: center;
width: 100%;
align-items: center;


}

.a {text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: x-large;
    justify-content: space-between;
    margin: 20px;



}

.h  {display: flex;
justify-content: center;
text-align: center;
}
.hero {

    
   
  }