


* {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  
}



.N a {margin: 20px;
color: white;
text-decoration: none;}
.N {background-color: goldenrod;
height: 60px;
align-items: center;}
.HD {padding: 0px 20px;
color: white;}

body { font-family: 'Nanum Gothic', sans-serif;
background-color: rgb(238, 223, 204);}



.LI {
    float: right;
padding: 10px ;

}

.sec {
    
    
    margin: 25px 30px;
    padding: 25px 30px;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
}
.cards {gap: 2rem;
   
margin: 30px;
padding: 30px;
    display: flex;
    flex-wrap: wrap;}

    
    
    .card1 {border: 2px solid black;}

    .card2 {border: 2px solid black;}

    .card3 {border: 2px solid black;}

    .card4{border: 2px solid black;}